@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Pseudo-class that matches the root element of the document. */
:root {
  --shades: #d9cad9;
  --dark-accent: #5e207a;
  --main-brand: #a1387c;
  --light-accent: #e94893;
  --light-shades: #fb6f92;
  --light: #f7e8f7;
  --gradient: -webkit-linear-gradient(45deg, var(--dark-accent), var(--main-brand), var(--light-accent), var(--main-brand), var(--dark-accent));
  --heading: 'Shantell Sans', cursive;
  --body: 'Montserrat', sans-serif;
}

body,
.background-shades {
  background-color: var(--shades) !important;
}

body {
  font-family: var(--body);
}

/* To ensure that the entire page is covered and there are no margins or padding around it. */
html,
body {
  height: 100% !important;
  margin: 0 !important;
}

header {
  box-shadow: 0 3px 6px var(--main-brand);
}

/* Ensures that the main content takes up at least the full height of the page. */
.main {
  min-height: calc(100%-5em) !important;
  /* 5em is the height of the footer */
  margin-bottom: 10rem;
}

/* This ensures that the footer always stays at the bottom of the page, regardless of the height of the main content. */
footer {
  height: 5em !important;
}

/* Colors */
.background-light {
  background: var(--light-shades) !important;
}

/* Displays smooth transitions between the three specified colors - The linear gradient goes diagonally as defined by the 45 degrees */
.gradient {
  background: var(--gradient) !important;
}

.gradient-dark {
  background: var(--gradient-dark) !important;
}

.shades {
  color: var(--shades) !important;
}

.dark-accent,
input,
input:focus,
textarea,
textarea:focus {
  color: var(--dark-accent) !important;
}

.light-accent {
  color: var(--light-accent) !important;
}

.light-shades {
  color: var(--light-shades) !important;
}

.main-brand {
  color: var(--main-brand) !important;
}

.light {
  color: var(--light) !important;
}

/* When hovering, the link color will change to smooth transitions between the three specified colors */
.gradient-hv:hover,
.gradient-text {
  background: var(--gradient);
  /* Need to set that is a text you are removing the background / color or the gradient won't work */
  -webkit-background-clip: text;
  background-clip: none;
  /* Text-fill needs to be transparent to show the gradient */
  -webkit-text-fill-color: transparent;
}

/* Removes the underline default for anchors tags */
a {
  text-decoration: none !important;
}

li {
  list-style: none !important;
}

/* Width for the buttons */
.width-20 {
  width: 20em;
}

/* Font Sizes */
.fs-small {
  font-size: 14px;
}

.fs-medium {
  font-size: 18px;
}

input::placeholder {
  font-size: 16px;
}

/* Font Family */
.heading-font {
  font-family: var(--heading);
}

.body-font {
  font-family: var(--body);
}

/* Font Weight */
.nav-link:hover {
  font-weight: 600;
}

/* Alignment */
.justify {
  text-align: justify;
}

/* Border, Box Shadow, White-Space */
.no-border {
  border: none !important;
  outline: none !important;
}

.radius-5 {
  border-radius: 5px;
}

.radius-15 {
  border-radius: 15px;
}

.radius-100 {
  border-radius: 100%;
}

input,
textarea {
  border: 2px solid var(--main-brand) !important;
}

.card {
  border-radius: 20px !important;
  box-shadow: 0 3px 9px 2px var(--main-brand) !important;
}

textarea {
  resize: none !important;
  white-space: pre-wrap !important;
  /* Any line breaks or multiple spaces that were entered in the textarea will be preserved and displayed */
}

.typing,
.typing-slow {
  /* To keep in the same line */
  white-space: nowrap !important;
  /* Clipes the overflow and hides duplicate text generated by the animation */
  overflow: hidden !important;
}

/* Animation */
.typing {
  /* Typing effect */
  animation:
    typing 4s steps(50, end);
  /* Right and left margins need to be auto to move text while animation is on */
  margin: 0 auto 36px auto !important;
}

/* Controls the intermediate steps in the animation sequence */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* Inverts the color of the arrow icon and make it darker. */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.contact-container {
  overflow: hidden !important;
}

.card-face {
  /* Motion effect timing */
  transition: .5s !important;
  width: 100px !important;
  height: 80px !important;
}

.card-face.face1 {
  /* Put face 1 on the front */
  z-index: 1 !important;
  transform: translateY(0px) !important;
}

.card-face.face1,
.card-face.face2 {
  position: relative !important;
}

.contact-card:hover .card-face.face1,
.contact-card:hover .card-face.face2 {
  /* Makes it go up to show face 2 */
  transform: translateY(10px) !important;
  box-shadow: 0 2px 20px var(--light-accent) !important;
}

.card-content {
  opacity: 0.8 !important;
  transition: 0.2s !important;
}

.card-content a:hover {
  font-weight: 800;
}

.contact-container .contact-card .card-face.face2 .card-content a:hover {
  color: var(--shades) !important;
}

.card-face.face2 {
  /* Makes face 1 cover face 2 */
  transform: translateY(-80px) !important;
  box-shadow: 0 4px 10px var(--light-accent) !important;
}

.card-face.face2,
.card-content a {
  /* Accounts for any border and padding in the values for the anchor's width and height */
  box-sizing: border-box !important;
}

.card-content a {
  margin: 8px auto !important;
}